<launch>


  <arg name="cameraIntrinsicInput"  default="$(find handeye_calib_sphere)/camera_intrinsic_color_realsense2.xml" />

  <node pkg="handeye_calib_sphere" type="cam_transform_publisher" name="cam_transform_publisher" output="screen">
  <!-- handeye_calib_camodocal arg pass -->
      <param name="cameraIntrinsicInput" type="str"  value="$(arg cameraIntrinsicInput)" />
      <param name="chessboardWidth"       type="int" value="8"/>
      <param name="chessboardHeight"      type="int" value="7"/>
      <param name="squareSize"    type="double"  value="0.25" />
  </node>

</launch>