<launch>


  <arg name="cameraIntrinsicInput"  default="$(find camera_transform_publisher)/camera_intrinsic_color_realsense2.xml" />
  <arg name="cameraTopic"  default="/realsense2/rgb" />

  <node pkg="camera_transform_publisher" type="camera_transform_publisher" name="camera_transform_publisher" output="screen">
  <!-- handeye_calib_camodocal arg pass -->
      <param name="cameraIntrinsicInput" type="str"  value="$(arg cameraIntrinsicInput)" />
      <param name="cameraTopic" type="str"  value="$(arg cameraTopic)" />
      <param name="chessboardWidth"       type="int" value="11"/>
      <param name="chessboardHeight"      type="int" value="8"/>
      <param name="squareSize"    type="double"  value="0.01" />
  </node>

</launch>
